h1{
    color: hsl(0, 0%, 100%);
    text-align: left;
    margin-left: 30px;
    font-family: 'Overpass';
    font-weight: 700;
    
}
.paragraph{
    color: hsl(217, 12%, 63%);
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 95px;
    font-family: 'Overpass';
    font-weight: 400;
    
}


button{
    border-radius: 75px;
    color:hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%);
    padding: 17px 200px
}
.rate{
    border-radius: 25px;
    background-color:hsl(210, 27%, 13%);
    text-align: center;
    width: 500px ;
    height: 500px;
    margin: 12% 33%;
    padding-top: 10px;
   
}
body{
    background-color: hsl(216, 12%, 8%);
}
img{
    
    width: 20px;
    height: 20px;
    margin-top: 15px;
}
.img{
    margin: 30px 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: hsl(213, 19%, 18%);
}
.p {
    margin: 40px 0px;
    border-radius: 50%;
    width: 50px;
 
    background-color: hsl(213, 19%, 18%);
    color:hsl(217, 12%, 63%);

}

.rating{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0px;
    margin-left: 35px;
    margin-top: 15px;

}


.p :hover{
    margin: 0px 0px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
.rating .p p {
    margin-top: 0px 0px;
   color:brown;
   
}
.rating .p p :hover{
    position: relative;
    
}



